<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <ul class="nav navbar-nav pull-sm-left">
          <li class="nav-item">
            <a href="/" class="navbar-brand">SENG 41283 Assignment</a>
          </li>
          <li class="nav-item"><a *ngIf="loggedIn" routerLink="/employeelist" class="nav-link">View Employees</a></li>
          <li class="nav-item"><a *ngIf="loggedIn" routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a *ngIf="!loggedIn" (click)="login()" routerLink="/" class="nav-link">Login</a></li>
          <li class="nav-item"><a *ngIf="loggedIn" routerLink="/profile" class="nav-link">Profile</a></li>
          <li class="nav-item"><a *ngIf="loggedIn" (click)="logout()" routerLink="/" class="nav-link">LogOut</a></li>
        </ul>
      </div>
    </nav>
</header>
<router-outlet *ngIf="!isIframe"></router-outlet>
